header{
background-color: burlywood;
margin: 0px;

}
body{
  background-color: brown;
}
#jonathon{
text-align: center;

}



h1{
   
    text-align: center;
  color: brown;
}
.photo{
    width: 8em;
    height: 9em;
    
margin: 100px;



}


